* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #33332d;
}

.all {
    margin: 40px 0px;
}

.digits {
    display: flex;
    justify-content: center;
    font-size: 18rem;
    margin-top: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

button {
    font-family: 'Noto Serif JP', serif;
    padding: 10px 30px;
    font-size: 1.5rem;
    box-shadow: -3px 5px #33332d;
    border: 3px solid #33332d;
    background-color: white;
    transition: all 0.2s ease;
}

button:hover {
    font-family: 'Noto Serif JP', serif;
    padding: 10px 30px;
    font-size: 1.5rem;
    box-shadow: -3px 5px #33332d;
    border: 3px solid #33332d;
    background-color: #33332d;
    color: white;
    cursor: pointer;
}

.start-button {
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 3rem;
}

.start-button:hover {
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 850px;
    background-color: white;
    padding: 20px 0px;
    text-align: center;
    gap: 40px;
    border-bottom: 3px solid #33332d;
    margin: 0;
}

.changeGif {
    font-size: 0rem;
    color: red;
    cursor: pointer;
    white-space: nowrap;
}

.header > a, .header > div {
    font-size: 2rem;
    text-decoration: none;
    color: #33332d;
}

.icon {
    width: 75px;
    height: 75px;
    border: 3px solid #33332d;
    border-radius: 50%;
    justify-self: right;
    cursor: pointer;
}

.active {
    background-color: #33332d;
    color: white;
}

@media (max-width: 900px) {
    .button-container {
        flex-direction: column;
        gap: 40px;
        width: 400px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        width: 60%;
        background-color: white;
        padding: 20px 0px;
        text-align: center;
        gap: 120px;
        border-bottom: 3px solid #33332d;
        margin: 0;
    }

    .digits {
        font-size: 12rem;
    }


}