* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif JP', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #33332d;
}

.all {
    margin: 40px 0px;
}

.digits {
    display: flex;
    justify-content: center;
    font-size: 18rem;
    margin-top: 0px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Noto Serif JP', serif;
    padding: 10px 30px;
    font-size: 1.5rem;
    box-shadow: -3px 5px #33332d;
    border: 3px solid #33332d;
    background-color: white;
    transition: all 0.2s ease;
}

button:hover {
    font-family: 'Noto Serif JP', serif;
    padding: 10px 30px;
    font-size: 1.5rem;
    box-shadow: -3px 5px #33332d;
    border: 3px solid #33332d;
    background-color: #33332d;
    color: white;
    cursor: pointer;
}

.start-button {
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 3rem;
}

.start-button:hover {
    margin: 0 auto;
    display: flex;
    text-align: center;
    font-size: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: white;
    padding: 20px 500px;
    text-align: center;
}

.changeGif {
    font-size: 0rem;
    color: red;
    cursor: pointer;
}

.header > a, .header > div {
    font-size: 2rem;
    text-decoration: none;
    color: #33332d;
}

.icon {
    width: 75px;
    height: 75px;
    border: 3px solid #33332d;
    border-radius: 50%;
    justify-self: right;
    cursor: pointer;
}

.bar {
    width: 50%;
    height: 0px;
    border-bottom: 3px solid #33332d;
}
